body {
  font-family: 'Lato', sans-serif;
  background-color: #000;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'NexaRustSans-Black-Free-webfont';
}

html, body, #static-overlay {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  z-index: 0;
}

#static-overlay {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.55;
  z-index: 1;
}
