<!doctype html>
 <html>
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
    <title>nickbumbarger.com - BRB</title>
    <link rel="stylesheet" href="assets/styles/main-<%= htmlWebpackPlugin.options.cssHash %>.css">
  </head>
  <body>
    <main id="app-container"></main>

    <script src="assets/scripts/bundle-<%= htmlWebpackPlugin.options.jsHash %>.js"></script>
</body>
</html>
