/* Media queries */

$xsmall-range: (0, 543px);
$small-range: (544px, 799px);
$medium-list-range: (800px, 915px);
$medium-range: (800px, 991px);
$large-range: (992px, 1199px);
$xlarge-range: (1200px);
